*, *:before, *:after {
  box-sizing: border-box;
}
/* bree-serif-regular - latin-ext_latin */
/* bree-serif-regular - latin-ext_latin */
@font-face {
  font-family: 'Bree Serif';
  font-style: normal;
  font-weight: 400;
  src: url('../images/bree-serif-v7-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Bree Serif Regular'), local('BreeSerif-Regular'),
       url('../images/bree-serif-v7-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../images/bree-serif-v7-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../images/bree-serif-v7-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../images/bree-serif-v7-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../images/bree-serif-v7-latin-ext_latin-regular.svg#BreeSerif') format('svg'); /* Legacy iOS */
}
/* cutive-mono-regular - latin */
header,footer,section,article,aside,nav,hgroup,details,menu,figure,figcaption{
  display:block;
}
@font-face {
  font-family: 'Cutive Mono';
  font-style: normal;
  font-weight: 400;
  src: url('../images/cutive-mono-v6-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Cutive Mono Regular'), local('CutiveMono-Regular'),
       url('../images/cutive-mono-v6-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../images/cutive-mono-v6-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../images/cutive-mono-v6-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../images/cutive-mono-v6-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../images/cutive-mono-v6-latin-regular.svg#CutiveMono') format('svg'); /* Legacy iOS */
}

body {
  margin: 0;
  width: 100vw;
  font-family: "Cutive Mono", monospace;
  line-height: 1.5;
  height: 100vh;
  font-style: normal;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}


/* .top_head
{
  position: absolute;
  z-index: 4;
  width: 100%;
} */
 #sidebar {
   position: absolute;
    width: 40vw;
    /* position: fixed; */
    top: 0;
    left: -40vw;
    height: 100vh;
    z-index: 999;
    background: #1C1C1C;
    /* padding: 12px 16px; */
     /*강제로 지정 */
    display: block;
    list-style-type: disc;

  /* box-shadow: 100px 8px 16px 10px rgba(0,0,0,0.2); */

}
li , a{
  text-decoration: none !important;
  font-size: 3.5vh;
  font-family: monospace;
  font-weight: bold;
  opacity: 0.8;
}
a{
  color:white;
}
li
{
  color: #1C1C1C;
}
li:hover
{
  background-color:#6E6E6E;
}
#sidebar.active {
    left: 0;
}
#sidebarCollapse
{
  position: relative;
  z-index: 990;
  font-size: 8vw;
  background-color: black;
  border: none;
  color: #80FF00;
  float: right;
  cursor: pointer;
}

.overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    z-index: 998;
    display: none;
}





.Headline{
  text-align: center;
  margin-left: 1rem;
  font-size: 3.5rem;
  color: #80FF00;
}
.EMOTE{
  margin-right: 2em;
  height: 100%;
  width: 20%;
}
.sep {
  border: 0;
  width: 23%;
  height: 2px;
  margin: 1.5em 0;
  color: #80FF00;
  background-color: #04B431;
}

.mast {
  position: relative;
  width: 100%;
  display:block;
  align-items:top;
  height: 100vh;
  color: #80FF00;
  background-color: #111;
  text-align: center;

}
.mast:after {
  z-index: 0;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(17, 17, 17, 0.9);
}
.mast > header {
  padding-top: 5%;
  z-index: 4;
  position: relative;
}
.mast__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-size: cover;
  z-index: 1;
}

.mast__title {
  font-family: "Cutive Mono", monospace;
  font-size: 180%;
  font-weight: bold;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}
.mast__title span {
  -webkit-animation: letter-glow 0.7s 0s ease both;
          animation: letter-glow 0.7s 0s ease both;
}
.mast__title span:nth-child(1) {
  -webkit-animation-delay: 0.05s;
          animation-delay: 0.05s;

}
.mast__title span:nth-child(2) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
.mast__title span:nth-child(3) {
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
}
.mast__title span:nth-child(4) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.mast__title span:nth-child(5) {
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}
.mast__title span:nth-child(6) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.mast__title span:nth-child(7) {
  -webkit-animation-delay: 0.35s;
          animation-delay: 0.35s;
}
.mast__title span:nth-child(8) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.mast__title span:nth-child(9) {
  -webkit-animation-delay: 0.45s;
          animation-delay: 0.45s;
}
.mast__title span:nth-child(10) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.mast__title span:nth-child(11) {
  -webkit-animation-delay: 0.55s;
          animation-delay: 0.55s;
}
.mast__title span:nth-child(12) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.mast__title span:nth-child(13) {
  -webkit-animation-delay: 0.65s;
          animation-delay: 0.65s;
}
.mast__title span:nth-child(14) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}
.mast__title span:nth-child(15) {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}
.mast__title span:nth-child(16) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
.mast__title span:nth-child(17) {
  -webkit-animation-delay: 0.85s;
          animation-delay: 0.85s;
}
.mast__title span:nth-child(18) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
.mast__title span:nth-child(19) {
  -webkit-animation-delay: 0.95s;
          animation-delay: 0.95s;
}
.mast__title span:nth-child(20) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.mast__title span:nth-child(21) {
  -webkit-animation-delay: 1.05s;
          animation-delay: 1.05s;
}
.mast__title span:nth-child(22) {
  -webkit-animation-delay: 1.1s;
          animation-delay: 1.1s;
}
.mast__title span:nth-child(23) {
  -webkit-animation-delay: 1.15s;
          animation-delay: 1.15s;
}
.mast__title span:nth-child(24) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}
.mast__title span:nth-child(25) {
  -webkit-animation-delay: 1.25s;
          animation-delay: 1.25s;
}

.mast__text {
  font-family: "Cutive Mono", monospace;
  /* font-family: "Consolas"; */
  font-size: 200%;
  margin: 0 0 0.5em;
  line-height: 1.5;
  white-space: pre;
  text-align: center;
  display: block;
  font-weight: bold;
}

.mast__text span {
  border-right: .27em solid #2EFE64;

  -webkit-animation: letter-glow 0.7s 0s ease both,  blinkTextCursor 0.73s 0s ease both;
          animation: letter-glow 0.7s 0s ease both,  blinkTextCursor 0.73s 0s ease both;
}

 /* 모바일 적용시 */
/* @media ( max-width: 1024px) {
  .mast__text {
    font-family: "Cutive Mono", monospace;
    /* font-family: "Consolas"; */
    /* font-size: 4em;
    margin: 0 0 0.5em;
    line-height: 1.5;
    white-space: pre;
    text-align: center;
    display: block;
    font-weight: bold;
  }

  .mast__text span {
    border-right: 0.3em solid #2EFE64;

    -webkit-animation: letter-glow 0.7s 0s ease both,  blinkTextCursor 0.73s 0s ease both;
            animation: letter-glow 0.7s 0s ease both,  blinkTextCursor 0.73s 0s ease both;
  }
} */

.mast__text span:nth-child(1) {
  -webkit-animation-delay: 0.03s;
          animation-delay: 0.03s;

}
.mast__text span:nth-child(2) {
  -webkit-animation-delay: 0.07s;
          animation-delay: 0.07s;
}
.mast__text span:nth-child(3) {
  -webkit-animation-delay: 0.12s;
          animation-delay: 0.12s;
}
.mast__text span:nth-child(4) {
  -webkit-animation-delay: 0.17s;
          animation-delay: 0.17s;
}
.mast__text span:nth-child(5) {
  -webkit-animation-delay: 0.22s;
          animation-delay: 0.22s;
}
.mast__text span:nth-child(6) {
  -webkit-animation-delay: 0.27s;
          animation-delay: 0.27s;
}
.mast__text span:nth-child(7) {
  -webkit-animation-delay: 0.32s;
          animation-delay: 0.32s;
}
.mast__text span:nth-child(8) {
  -webkit-animation-delay: 0.37s;
          animation-delay: 0.37s;
}
.mast__text span:nth-child(9) {
  -webkit-animation-delay: 0.42s;
          animation-delay: 0.42s;
}
.mast__text span:nth-child(10) {
  -webkit-animation-delay: 0.47s;
          animation-delay: 0.47s;
}
.mast__text span:nth-child(11) {
  -webkit-animation-delay: 0.52s;
          animation-delay: 0.52s;
}
.mast__text span:nth-child(12) {
  -webkit-animation-delay: 0.57s;
          animation-delay: 0.57s;
}
.mast__text span:nth-child(13) {
  -webkit-animation-delay: 0.62s;
          animation-delay: 0.62s;
}
.mast__text span:nth-child(14) {
  -webkit-animation-delay: 0.67s;
          animation-delay: 0.67s;
}
.mast__text span:nth-child(15) {
  -webkit-animation-delay: 0.72s;
          animation-delay: 0.72s;
}
.mast__text span:nth-child(16) {
  -webkit-animation-delay: 0.77s;
          animation-delay: 0.77s;
}
.mast__text span:nth-child(17) {
  -webkit-animation-delay: 0.82s;
          animation-delay: 0.82s;
}
.mast__text span:nth-child(18) {
  -webkit-animation-delay: 0.87s;
          animation-delay: 0.87s;
}
.mast__text span:nth-child(19) {
  -webkit-animation-delay: 0.92s;
          animation-delay: 0.92s;
}
.mast__text span:nth-child(20) {
  -webkit-animation-delay: 0.97s;
          animation-delay: 0.97s;
}
.mast__text span:nth-child(21) {
  -webkit-animation-delay: 1.02s;
          animation-delay: 1.02s;
}
.mast__text span:nth-child(22) {
  -webkit-animation-delay: 1.07s;
          animation-delay: 1.07s;
}
.mast__text span:nth-child(23) {
  -webkit-animation-delay: 1.12s;
          animation-delay: 1.12s;
}
.mast__text span:nth-child(24) {
  -webkit-animation-delay: 1.17s;
          animation-delay: 1.17s;
}
.mast__text span:nth-child(25) {
  -webkit-animation-delay: 1.22s;
          animation-delay: 1.22s;
}
.mast__text span:nth-child(26) {
  -webkit-animation-delay: 1.27s;
          animation-delay: 1.27s;
}
.mast__text span:nth-child(27) {
  -webkit-animation-delay: 1.32s;
          animation-delay: 1.32s;
}
.mast__text span:nth-child(28) {
  -webkit-animation-delay: 1.37s;
          animation-delay: 1.37s;
}
.mast__text span:nth-child(29) {
  -webkit-animation-delay: 1.42s;
          animation-delay: 1.42s;
}
.mast__text span:nth-child(30) {
  -webkit-animation-delay: 1.47s;
          animation-delay: 1.47s;
}
.mast__text span:nth-child(31) {
  -webkit-animation-delay: 1.52s;
          animation-delay: 1.52s;
}
.mast__text span:nth-child(32) {
  -webkit-animation-delay: 1.57s;
          animation-delay: 1.57s;
}
.mast__text span:nth-child(33) {
  -webkit-animation-delay: 1.62s;
          animation-delay: 1.62s;
}
.mast__text span:nth-child(34) {
  -webkit-animation-delay: 1.67s;
          animation-delay: 1.67s;
}
.mast__text span:nth-child(35) {
  -webkit-animation-delay: 1.72s;
          animation-delay: 1.72s;
}
.mast__text span:nth-child(36) {
  -webkit-animation-delay: 1.77s;
          animation-delay: 1.77s;
}
.mast__text span:nth-child(37) {
  -webkit-animation-delay: 1.82s;
          animation-delay: 1.82s;
}
.mast__text span:nth-child(38) {
  -webkit-animation-delay: 1.87s;
          animation-delay: 1.87s;
}
.mast__text span:nth-child(39) {
  -webkit-animation-delay: 1.92s;
          animation-delay: 1.92s;
}
.mast__text span:nth-child(40) {
  -webkit-animation-delay: 1.97s;
          animation-delay: 1.97s;
}
.mast__text span:nth-child(41) {
  -webkit-animation-delay: 2.02s;
          animation-delay: 2.02s;
}
.mast__text span:nth-child(42) {
  -webkit-animation-delay: 2.07s;
          animation-delay: 2.07s;
}
.mast__text span:nth-child(43) {
  -webkit-animation-delay: 2.12s;
          animation-delay: 2.12s;
}
.mast__text span:nth-child(44) {
  -webkit-animation-delay: 2.17s;
          animation-delay: 2.17s;
}
.mast__text span:nth-child(45) {
  -webkit-animation-delay: 2.22s;
          animation-delay: 2.22s;
}
.mast__text span:nth-child(46) {
  -webkit-animation-delay: 2.26s;
          animation-delay: 2.26s;
}
.mast__text span:nth-child(47) {
  -webkit-animation-delay: 2.31s;
          animation-delay: 2.31s;
}
.mast__text span:nth-child(48) {
  -webkit-animation-delay: 2.36s;
          animation-delay: 2.36s;
}
.mast__text span:nth-child(49) {
  -webkit-animation-delay: 2.41s;
          animation-delay: 2.41s;
}
.mast__text span:nth-child(50) {
  -webkit-animation-delay: 2.46s;
          animation-delay: 2.46s;
}
.mast__text span:nth-child(51) {
  -webkit-animation-delay: 2.51s;
          animation-delay: 2.51s;
}
.mast__text span:nth-child(52) {
  -webkit-animation-delay: 2.56s;
          animation-delay: 2.56s;
}
.mast__text span:nth-child(53) {
  -webkit-animation-delay: 2.61s;
          animation-delay: 2.61s;
}
.mast__text span:nth-child(54) {
  -webkit-animation-delay: 2.65s;
          animation-delay: 2.65s;
}
.mast__text span:nth-child(55) {
  -webkit-animation-delay: 2.70s;
          animation-delay: 2.70s;
}
.mast__text span:nth-child(56) {
  -webkit-animation-delay: 2.75s;
          animation-delay: 2.75s;
}
.mast__text span:nth-child(57) {
  -webkit-animation-delay: 2.80s;
          animation-delay: 2.80s;
}
.mast__text span:nth-child(58) {
  -webkit-animation-delay: 2.85s;
          animation-delay: 2.85s;
}
.mast__text span:nth-child(59) {
  -webkit-animation-delay: 2.90s;
          animation-delay: 2.90s;
}
.mast__text span:nth-child(60) {
  -webkit-animation-delay: 2.95s;
          animation-delay: 2.95s;
}
.mast__text span:nth-child(61) {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}
.mast__text span:nth-child(62) {
  -webkit-animation-delay: 3.1s;
          animation-delay: 3.1s;
}
.mast__text span:nth-child(63) {
  -webkit-animation-delay: 3.15s;
          animation-delay: 3.15s;
}
.mast__text span:nth-child(64) {
  -webkit-animation-delay: 3.2s;
          animation-delay: 3.2s;
}
.mast__text span:nth-child(65) {
  -webkit-animation-delay: 3.25s;
          animation-delay: 3.25s;
}
.mast__text span:nth-child(66) {
  -webkit-animation-delay: 3.3s;
          animation-delay: 3.3s;
}
.mast__text span:nth-child(67) {
  -webkit-animation-delay: 3.35s;
          animation-delay: 3.35s;
}
.mast__text span:nth-child(68) {
  -webkit-animation-delay: 3.4s;
          animation-delay: 3.4s;
}
.mast__text span:nth-child(69) {
  -webkit-animation-delay: 3.45s;
          animation-delay: 3.45s;
}
.mast__text span:nth-child(70) {
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
}
.mast__text span:nth-child(71) {
  -webkit-animation-delay: 3.55s;
          animation-delay: 3.55s;
}
.mast__text span:nth-child(72) {
  -webkit-animation-delay: 3.6s;
          animation-delay: 3.6s;
}
.mast__text span:nth-child(73) {
  -webkit-animation-delay: 3.65s;
          animation-delay: 3.65s;
}
.mast__text span:nth-child(74) {
  -webkit-animation-delay: 3.7s;
          animation-delay: 3.7s;
}
.mast__text span:nth-child(75) {
  -webkit-animation-delay: 3.75s;
          animation-delay: 3.75s;
}
.mast__text span:nth-child(76) {
  -webkit-animation-delay: 3.8s;
          animation-delay: 3.8s;
}
.mast__text span:nth-child(77) {
  -webkit-animation-delay: 3.85s;
          animation-delay: 3.85s;
}
.mast__text span:nth-child(78) {
  -webkit-animation-delay: 3.9s;
          animation-delay: 3.9s;
}
.mast__text span:nth-child(79) {
  -webkit-animation-delay: 3.95s;
          animation-delay: 3.95s;
}
.mast__text span:nth-child(80) {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}
.mast__text span:nth-child(81) {
  -webkit-animation-delay: 4.05s;
          animation-delay: 4.05s;
}
.mast__text span:nth-child(82) {
  -webkit-animation-delay: 4.1s;
          animation-delay: 4.1s;
}
.mast__text span:nth-child(83) {
  -webkit-animation-delay: 4.15s;
          animation-delay: 4.15s;
}
.mast__text span:nth-child(84) {
  -webkit-animation-delay: 4.2s;
          animation-delay: 4.2s;
}
.mast__text span:nth-child(85) {
  -webkit-animation-delay: 4.25s;
          animation-delay: 4.25s;
}
.mast__text span:nth-child(86) {
  -webkit-animation-delay: 4.3s;
          animation-delay: 4.3s;
}
.mast__text span:nth-child(87) {
  -webkit-animation-delay: 4.35s;
          animation-delay: 4.35s;
}
.mast__text span:nth-child(88) {
  -webkit-animation-delay: 4.4s;
          animation-delay: 4.4s;
}
.mast__text span:nth-child(89) {
  -webkit-animation-delay: 4.45s;
          animation-delay: 4.45s;
}
.mast__text span:nth-child(90) {
  -webkit-animation-delay: 4.5s;
          animation-delay: 4.5s;
}
.mast__text span:nth-child(91) {
  -webkit-animation-delay: 4.55s;
          animation-delay: 4.55s;
}
.mast__text span:nth-child(92) {
  -webkit-animation-delay: 4.6s;
          animation-delay: 4.6s;
}
.mast__text span:nth-child(93) {
  -webkit-animation-delay: 4.65s;
          animation-delay: 4.65s;
}
.mast__text span:nth-child(94) {
  -webkit-animation-delay: 4.7s;
          animation-delay: 4.7s;
}
.mast__text span:nth-child(95) {
  -webkit-animation-delay: 4.75s;
          animation-delay: 4.75s;
}
.mast__text span:nth-child(96) {
  -webkit-animation-delay: 4.8s;
          animation-delay: 4.8s;
}
.mast__text span:nth-child(97) {
  -webkit-animation-delay: 4.85s;
          animation-delay: 4.85s;
}
.mast__text span:nth-child(98) {
  -webkit-animation-delay: 4.9s;
          animation-delay: 4.9s;
}
.mast__text span:nth-child(99) {
  -webkit-animation-delay: 4.95s;
          animation-delay: 4.95s;
}
.mast__text span:nth-child(100) {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}
.mast__text span:nth-child(101) {
  -webkit-animation-delay: 5.05s;
          animation-delay: 5.05s;
}
.mast__text span:nth-child(102) {
  -webkit-animation-delay: 5.1s;
          animation-delay: 5.1s;
}
.mast__text span:nth-child(103) {
  -webkit-animation-delay: 5.15s;
          animation-delay: 5.15s;
}
.mast__text span:nth-child(104) {
  -webkit-animation-delay: 5.2s;
          animation-delay: 5.2s;
}
.mast__text span:nth-child(105) {
  -webkit-animation-delay: 5.25s;
          animation-delay: 5.25s;
}
.mast__text span:nth-child(106) {
  -webkit-animation-delay: 5.3s;
          animation-delay: 5.3s;
}
.mast__text span:nth-child(107) {
  -webkit-animation-delay: 5.35s;
          animation-delay: 5.35s;
}
.mast__text span:nth-child(108) {
  -webkit-animation-delay: 5.4s;
          animation-delay: 5.4s;
}
.mast__text span:nth-child(109) {
  -webkit-animation-delay: 5.45s;
          animation-delay: 5.45s;
}
.mast__text span:nth-child(110) {
  -webkit-animation-delay: 5.5s;
          animation-delay: 5.5s;
}
.mast__text span:nth-child(111) {
  -webkit-animation-delay: 5.55s;
          animation-delay: 5.55s;
}
.mast__text span:nth-child(112) {
  -webkit-animation-delay: 5.6s;
          animation-delay: 5.6s;
}
.mast__text span:nth-child(113) {
  -webkit-animation-delay: 5.65s;
          animation-delay: 5.65s;
}
.mast__text span:nth-child(114) {
  -webkit-animation-delay: 5.7s;
          animation-delay: 5.7s;
}
.mast__text span:nth-child(115) {
  -webkit-animation-delay: 5.75s;
          animation-delay: 5.75s;
}
.mast__text span:nth-child(116) {
  -webkit-animation-delay: 5.8s;
          animation-delay: 5.8s;
}
.mast__text span:nth-child(117) {
  -webkit-animation-delay: 5.85s;
          animation-delay: 5.85s;
}
.mast__text span:nth-child(118) {
  -webkit-animation-delay: 5.9s;
          animation-delay: 5.9s;
}
.mast__text span:nth-child(119) {
  -webkit-animation-delay: 5.95s;
          animation-delay: 5.95s;
}
.mast__text span:nth-child(120) {
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}
.mast__text span:nth-child(121) {
  -webkit-animation-delay: 6.05s;
          animation-delay: 6.05s;
}
.mast__text span:nth-child(122) {
  -webkit-animation-delay: 6.1s;
          animation-delay: 6.1s;
}
.mast__text span:nth-child(123) {
  -webkit-animation-delay: 6.15s;
          animation-delay: 6.15s;
}
.mast__text span:nth-child(124) {
  -webkit-animation-delay: 6.2s;
          animation-delay: 6.2s;
}
.mast__text span:nth-child(125) {
  -webkit-animation-delay: 6.25s;
          animation-delay: 6.25s;
}
.mast__text span:nth-child(126) {
  -webkit-animation-delay: 6.3s;
          animation-delay: 6.3s;
}
.mast__text span:nth-child(127) {
  -webkit-animation-delay: 6.35s;
          animation-delay: 6.35s;
}
.mast__text span:nth-child(128) {
  -webkit-animation-delay: 6.4s;
          animation-delay: 6.4s;
}
.mast__text span:nth-child(129) {
  -webkit-animation-delay: 6.45s;
          animation-delay: 6.45s;
}
.mast__text span:nth-child(130) {
  -webkit-animation-delay: 6.5s;
          animation-delay: 6.5s;
}
.mast__text span:nth-child(131) {
  -webkit-animation-delay: 6.55s;
          animation-delay: 6.55s;
}
.mast__text span:nth-child(132) {
  -webkit-animation-delay: 6.6s;
          animation-delay: 6.6s;
}
.mast__text span:nth-child(133) {
  -webkit-animation-delay: 6.65s;
          animation-delay: 6.65s;
}
.mast__text span:nth-child(134) {
  -webkit-animation-delay: 6.7s;
          animation-delay: 6.7s;
}
.mast__text span:nth-child(135) {
  -webkit-animation-delay: 6.75s;
          animation-delay: 6.75s;
}
.mast__text span:nth-child(136) {
  -webkit-animation-delay: 6.8s;
          animation-delay: 6.8s;
}
.mast__text span:nth-child(137) {
  -webkit-animation-delay: 6.85s;
          animation-delay: 6.85s;
}
.mast__text span:nth-child(138) {
  -webkit-animation-delay: 6.9s;
          animation-delay: 6.9s;
}
.mast__text span:nth-child(139) {
  -webkit-animation-delay: 6.95s;
          animation-delay: 6.95s;
}
.mast__text span:nth-child(140) {
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}
.mast__text span:nth-child(141) {
  -webkit-animation-delay: 7.05s;
          animation-delay: 7.05s;
}
.mast__text span:nth-child(142) {
  -webkit-animation-delay: 7.1s;
          animation-delay: 7.1s;
}
.mast__text span:nth-child(143) {
  -webkit-animation-delay: 7.15s;
          animation-delay: 7.15s;
}
.mast__text span:nth-child(144) {
  -webkit-animation-delay: 7.2s;
          animation-delay: 7.2s;
}
.mast__text span:nth-child(145) {
  -webkit-animation-delay: 7.25s;
          animation-delay: 7.25s;
}
.mast__text span:nth-child(146) {
  -webkit-animation-delay: 7.3s;
          animation-delay: 7.3s;
}
.mast__text span:nth-child(147) {
  -webkit-animation-delay: 7.35s;
          animation-delay: 7.35s;
}
.mast__text span:nth-child(148) {
  -webkit-animation-delay: 7.4s;
          animation-delay: 7.4s;
}
.mast__text span:nth-child(149) {
  -webkit-animation-delay: 7.45s;
          animation-delay: 7.45s;
}
.mast__text span:nth-child(150) {
  -webkit-animation-delay: 7.5s;
          animation-delay: 7.5s;
}
.mast__text span:nth-child(151) {
  -webkit-animation-delay: 7.55s;
          animation-delay: 7.55s;
}
.mast__text span:nth-child(152) {
  -webkit-animation-delay: 7.6s;
          animation-delay: 7.6s;
}
.mast__text span:nth-child(153) {
  -webkit-animation-delay: 7.65s;
          animation-delay: 7.65s;
}
.mast__text span:nth-child(154) {
  -webkit-animation-delay: 7.7s;
          animation-delay: 7.7s;
}
.mast__text span:nth-child(155) {
  -webkit-animation-delay: 7.75s;
          animation-delay: 7.75s;
}
.mast__text span:nth-child(156) {
  -webkit-animation-delay: 7.8s;
          animation-delay: 7.8s;
}
.mast__text span:nth-child(157) {
  -webkit-animation-delay: 7.85s;
          animation-delay: 7.85s;
}
.mast__text span:nth-child(158) {
  -webkit-animation-delay: 7.9s;
          animation-delay: 7.9s;
}
.mast__text span:nth-child(159) {
  -webkit-animation-delay: 7.95s;
          animation-delay: 7.95s;
}
.mast__text span:nth-child(160) {
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
}
.mast__text span:nth-child(161) {
  -webkit-animation-delay: 8.05s;
          animation-delay: 8.05s;
}
.mast__text span:nth-child(162) {
  -webkit-animation-delay: 8.1s;
          animation-delay: 8.1s;
}
.mast__text span:nth-child(163) {
  -webkit-animation-delay: 8.15s;
          animation-delay: 8.15s;
}
.mast__text span:nth-child(164) {
  -webkit-animation-delay: 8.2s;
          animation-delay: 8.2s;
}
.mast__text span:nth-child(165) {
  -webkit-animation-delay: 8.25s;
          animation-delay: 8.25s;
}
.mast__text span:nth-child(166) {
  -webkit-animation-delay: 8.3s;
          animation-delay: 8.3s;
}
.mast__text span:nth-child(167) {
  -webkit-animation-delay: 8.35s;
          animation-delay: 8.35s;
}
.mast__text span:nth-child(168) {
  -webkit-animation-delay: 8.4s;
          animation-delay: 8.4s;
}
.mast__text span:nth-child(169) {
  -webkit-animation-delay: 8.45s;
          animation-delay: 8.45s;
}
.mast__text span:nth-child(170) {
  -webkit-animation-delay: 8.5s;
          animation-delay: 8.5s;
}
.mast__text span:nth-child(171) {
  -webkit-animation-delay: 8.55s;
          animation-delay: 8.55s;
}
.mast__text span:nth-child(172) {
  -webkit-animation-delay: 8.6s;
          animation-delay: 8.6s;
}
.mast__text span:nth-child(173) {
  -webkit-animation-delay: 8.65s;
          animation-delay: 8.65s;
}
.mast__text span:nth-child(174) {
  -webkit-animation-delay: 8.7s;
          animation-delay: 8.7s;
}
.mast__text span:nth-child(175) {
  -webkit-animation-delay: 8.75s;
          animation-delay: 8.75s;
}
.mast__text span:nth-child(176) {
  -webkit-animation-delay: 8.8s;
          animation-delay: 8.8s;
}
.mast__text span:nth-child(177) {
  -webkit-animation-delay: 8.85s;
          animation-delay: 8.85s;
}
.mast__text span:nth-child(178) {
  -webkit-animation-delay: 8.9s;
          animation-delay: 8.9s;
}
.mast__text span:nth-child(179) {
  -webkit-animation-delay: 8.95s;
          animation-delay: 8.95s;
}
.mast__text span:nth-child(180) {
  -webkit-animation-delay: 9s;
          animation-delay: 9s;
}

@-webkit-keyframes letter-glow {
  0% {
    opacity: 0;
    text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.1);

  }
  66% {
    opacity: 1;
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.9);

  }
  77% {
    opacity: 1;
  }
  100% {
    opacity: 0.7;
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0);
  }
}



@keyframes letter-glow {
  0% {
    opacity: 0;
    text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.1);
  }
  66% {
    opacity: 1;
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.9);
  }
  77% {
    opacity: 1;
  }
  100% {
    opacity: 0.7;
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0);
  }
}

/* 버튼 y-cert */

.y_button {
  z-index: 5;
  display:  inline-block;
	position: absolute;
	left: 15%;
  /* margin-top: 5%; */
	/* transform: translate(-150%, 60%); */
	/* text-transform: uppercase; */
	/* text-decoration: none; */
  transform:translateY(25%);
	text-align: center;
	line-height: 2;
	color: #80FF00;
	font-size: 2.2em;
	font-family: "Bree Serif";
	letter-spacing: 0.5em;
  cursor: pointer;
	/* use combination of any two */
	/* 1. */
	/* padding: 5px; */
	/* 2. */
	padding-left: 5px;
	/* padding-right: 5px; */
}

.y_button::before,
.y_button::after,
.y_button>span::before,
.y_button>span::after {
	content: '';
	position: absolute;
	width: 8px;
	height: 8px;
	background: transparent;
	transition: 1s;
	-webkit-mix-blend-mode: hue;
}

.y_button::before {
	top: -0.1em;
	left: -0.1em;
	border-top: 0.1em solid #0174DF;
	border-left: 0.1em solid #0174DF;
}
.y_button::after {
	top: -0.1em;
	right: -0.1em;
	border-top: 0.1em solid #ff0;
	border-right: 0.1em solid #ff0;
}

.y_button>span::before {
	bottom: -0.1em;
	left: -0.1em;
	border-bottom: 0.1em solid #ff0;
	border-left: 0.1em solid #ff0;
}
.y_button>span::after {
	bottom: -0.1em;
	right: -0.1em;
	border-bottom: 0.1em solid #0174DF;
	border-right: 0.1em solid #0174DF;
}


.y_button:hover::before,
.y_button:hover::after
 {
   width: 45%;
   height: 50%;
}
.y_button:hover span::before,
.y_button:hover span::after
{
  width: 45%;
  height: 50%;
}
.y_button:hover

{
}
/* emote 버튼  */

.e_button {
  z-index: 5;
	position: absolute;
  /* top: 50%;
  left: 70%; */
  /* margin-top: 10%; */
  left:65%;
	/* text-transform: uppercase;
	text-decoration: none; */
	text-align: center;
	line-height: 2;
	color: #80FF00;
	font-size: 2.2em;
	font-family: "Bree Serif";
	letter-spacing: 0.5em;
  cursor: pointer;
  transform:translateY(25%);

	/* use combination of any two */
	/* 1. */
	/* padding: 5px; */

	/* 2. */
	padding-left: 5px;
	/* padding-right: 5px; */
}

.e_button::before,
.e_button::after,
.e_button>span::before,
.e_button>span::after {
	content: '';
	position: absolute;
	width: 8px;
	height: 8px;
	background: transparent;
	transition: 1s;
	-webkit-mix-blend-mode: hue;
}

.e_button::before {
	top: -0.1em;
	left: -0.1em;
	border-top: 0.1em solid #FF8000;
	border-left: 0.1em solid #FF8000;
}
.e_button::after {
	top: -0.1em;
	right: -0.1em;
	border-top: 0.1em solid #ff0;
	border-right: 0.1em solid #ff0;
}

.e_button>span::before {
	bottom: -0.1em;
	left: -0.1em;
	border-bottom: 0.1em solid #ff0;
	border-left: 0.1em solid #ff0;
}
.e_button>span::after {
	bottom: -0.1em;
	right: -0.1em;
	border-bottom: 0.1em solid #FF8000;
	border-right: 0.1em solid #FF8000;
}


.e_button:hover::before,
.e_button:hover::after
 {
   width: 45%;
 	height: 50%;
}
.e_button:hover span::before,
.e_button:hover span::after
{
  width: 45%;
	height: 50%;
}
/* 버튼 키프레임  */
@keyframes flash{
  to {
    opacity: 1;
  }
}

@keyframes flashText {
  to {
    opacity: 0.15;
  }
}

 /* 소개 글 텍스트 커서 keyframes */
@-webkit-keyframes blinkTextCursor{
  from, to {
        border-color: transparent
    }
    2% {
        border-color: #2EFE64;
    }
    13% {
        border-color: transparent
    }
}

@keyframes blinkTextCursor{
  from, to {
        border-color: transparent
    }
    2% {
        border-color: #2EFE64;

    }
    13% {
        border-color: transparent
    }
}
@media screen and (-webkit-min-device-pixel-ratio:0)
{
.glitch {
  animation: glitch-skew 4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 4s infinite;
  font-family: orbitron, sans-serif;
  font-size: 8rem;
  font-weight: 900;
  line-height: 1;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  transform-origin: center top;
}
.glitch__main {
  color: #FFF;
  margin-left: 10%;
  position: relative;
  z-index: 0;
}
.glitch__color {
  height: 100%;
  left: 0;
  opacity: 0.8;
  position: absolute;
  top: 0;
  transform-origin: center center;
  width: 100%;
  z-index: -1;
}
/* .glitch__color--red {
  animation: glitch 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
  color: red;
}
.glitch__color--blue {
  animation: glitch 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite reverse;
  color: blue;
}
.glitch__color--green {
  animation: glitch 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 100ms infinite;
  color: #00FF0B;
} */
.glitch__line {
  animation: glitch-line 2s linear infinite;
  background: #000;
  content: '';
  height: 3%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
.glitch__line--first {
  animation: glitch-line 2s linear infinite;
}
.glitch__line--second {
  animation: glitch-line 1s linear 1s infinite;
}

 /* @keyframes glitch {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-8px, 8px);
  }
  40% {
    transform: translate(-8px, -8px);
  }
  60% {
    transform: translate(8px, 8px);
  }
  80% {
    transform: translate(8px, -8px);
  }
  100% {
    transform: translate(0);
  }
} */
/* @keyframes glitch-skew {
  0% {
    transform: skew(0deg, 0deg);
  }
  48% {
    transform: skew(0deg, 0deg);
    filter: blur(0);
  }
  50% {
    transform: skew(-20deg, 0deg);
    filter: blur(4px);
  }
  52% {
    transform: skew(20deg, 0deg);
  }
  54% {
    transform: skew(0deg, 0deg);
    filter: blur(0);
  }
  100% {
    transform: skew(0deg, 0deg);
  }
} */
@keyframes glitch-line {
  0% {
    top: 0;
  }
  100% {
    top: 100%;
  }
}
}


.glitch {
  animation: glitch-skew 4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 4s infinite;
  font-family: orbitron, sans-serif;
  font-size: 8rem;
  font-weight: 900;
  line-height: 1;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  transform-origin: center top;
}
.glitch__main {
  color: #FFF;
}
.glitch__color {
  height: 100%;
  left: 0;
  opacity: 0.8;
  position: absolute;
  top: 0;
  transform-origin: center center;
  width: 100%;
  z-index: -1;
}
 .glitch__line {
  animation: glitch-line 2s linear infinite;
  background: #000;
  content: '';
  height: 3%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
 .glitch__line--first {
  animation: glitch-line 2s linear infinite;
}
 .glitch__line--second {
  animation: glitch-line 1s linear 1s infinite;
}

 /* @keyframes glitch {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-8px, 8px);
  }
  40% {
    transform: translate(-8px, -8px);
  }
  60% {
    transform: translate(8px, 8px);
  }
  80% {
    transform: translate(8px, -8px);
  }
  100% {
    transform: translate(0);
  }
} */
/* html>body #header @keyframes glitch-skew {
  0% {
    transform: skew(0deg, 0deg);
  }
  48% {
    transform: skew(0deg, 0deg);
    filter: blur(0);
  }
  50% {
    transform: skew(-20deg, 0deg);
    filter: blur(4px);
  }
  52% {
    transform: skew(20deg, 0deg);
  }
  54% {
    transform: skew(0deg, 0deg);
    filter: blur(0);
  }
  100% {
    transform: skew(0deg, 0deg);
  }
} */
 @keyframes glitch-line {
  0% {
    top: 0;
  }
  100% {
    top: 100%;
  }
}
